.list {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin: 80px auto;
    list-style: none;
    padding: 0;
}


.item {
    display: flex;
    width: 100%;
    background-color: lightgray;
    margin: 10px 0;
    padding: 0;
    align-items: center;
    border: 2px solid gray;
}

.status {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 15px;
    background-color: green;
}

.red {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 15px;
    background-color: red;
}

.avatar {
    width: 150px;
    border-radius: 50%;
    margin: 15px;
}

.name {
    margin: 0 20px;
}
